<br />
<br />
<ion-label text-center>Drop us a small review/feedback/Suggestion </ion-label>
<br />
<br />
<ion-content>
  <ion-card>
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <ion-item>
        <ion-textarea (ionChange)="onFeedbackChange($event)" [(ngModel)]="feedbackText" name="feedback" rows="10" cols="20" placeholder="Enter any suggestions here..."></ion-textarea>
      </ion-item>

      <ion-label text-center>
        <b>
          <p>A few words about our service employees,facilities etc</p>
        </b>
      </ion-label>
      <ion-grid>
        <ion-row>
          <ion-col offset="5">
            <ion-buttons>
              <ion-button type="submit" color="primary" fill="solid" slot="end" routerLink="/customer/thanks">Submit</ion-button>
            </ion-buttons>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>
  </ion-card>
</ion-content>