 // page.scss
ion-content{
  background-color: red;
  color: black;
  font-size:"10";
  }
ion-label{
  color:white;
  padding: 8px;
  font-size:"10";
}
p{
  color: black;
  font-size: "50";

}
* {
  box-sizing: border-box;
}

.zoom {
  padding: 25px;
  transition: transform 0s;
  width: 250px;
  height: 200px;
  margin: 10;
  color:white;
}

.zoom:hover {
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(10.5); /* Safari 3-8 */
  transform: scale(1.25); 
  background-color:#1C1D1D ;
  font-size:"15";
}