
  
<br/>
  <ion-label text-center>Write a Review !!</ion-label>
  <br/> 
 <ion-label text-center> This will help us to know you better</ion-label>
 <br/>
<ion-content>   
  <ion-tabs >
      <ion-tab-bar slot='top' position="text-center" color="primary">
    
          <ion-tab-button tab="yourdetails"  value='solid'>
              <ion-label  expand="block" value="solid">YourDetails</ion-label>
        </ion-tab-button>
     <ion-tab-button tab="rating" color="primary" value="solid">
      <ion-label>Rating</ion-label>
     </ion-tab-button>
    
    <ion-tab-button tab="reviews" color="primary" value="solid">
        <ion-label>Review</ion-label>
    </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

